body {
	background: #e0c2c0;
}
#navbar-main {
	background: #391328;
	margin: 0;
}
#navbar-main-img {
	height: 40px;
	margin: 5px 0;
	border-radius: 3px;
	box-shadow: 0 0 3px white;
}
.brand-img {
	height: 40px;
	margin: 5px 0;
	border-radius: 3px;
	box-shadow: 0 0 3px white;
	float: left;
}
.btn-search {
	background: #EAB586;
}
#nav-contacts {
	float: left;
	margin: 4px;
	color: red;
}
.active a {
	background: #76606C !important; 
}
.navbar-toggle {
	background: grey;
}
.navbar-form {
	padding-bottom: 8px;
	padding-top: 8px;
	margin-bottom: 0;
	margin-top: 0;
}
#main-part {
	border-left: 1px solid black;
	border-right: 1px solid black;
	box-shadow: 0 0 3px black;
	background: #C8AFAD;
}
.breadcrumb {
	background: #ffe6e4;
}
.item a {
	text-decoration: none;
}
.showcase {
	background: #dbb0a0;
	margin: 2px;
	padding: 5px;
	border: 1px solid black;
	border-radius: 4px;
	box-shadow: 0 0 3px black;
}
.cats-title {
	color: #391328;
	text-align: center;
}
#product-price {
	color: red;
	font-weight: bold;
	font-size: 14pt;
	padding: 10px 0;
	font-style: italic;
	text-shadow: 0 0 1px white;
}
#prod-img {
	float: left;
}
#prod-descr {
	min-width: 125px;
	padding-left: 10px;
}
#product-nav {
	text-align: center;
	font-weight: bold;
	font-size: 14pt;
	padding-top: 15px;
}
.products-title {
	text-align: center;
}
.products-descr {
	border: 1px dotted black;
	padding: 3px;
	margin-top: 3px;
	height: 47px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.products-price {
	color: red;
	text-align: center;
	font-weight: bold;
	font-size: 12pt;
	text-shadow: 0 0 1px white;
}
#site-about {
	text-indent: 10px;
	text-align: justify;
}
#about-img {
	width: 50%;
	padding-right: 15px;
	float: left;
}


.footer {
	background: #eab586;
}